<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*" UpgradeCode="$(var.GUID)" Language='1033' Codepage='1252' Version='$(var.PKGVERSION_NUMBER)' Name="!(loc.ApplicationName)" Manufacturer="!(loc.ManufacturerName)">

    <Package Id='*' Keywords='Installer' Description="!(loc.Description)" Manufacturer="!(loc.ManufacturerName)" InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' EmbedCab='yes' Cabinet="main.cab" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.SourceDir)\installer\resources\LICENSE.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.SourceDir)\installer\resources\banner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.SourceDir)\installer\resources\dialog.png" />

    <!-- icon displayed in Add/Remove Programs -->
    <Icon Id="icon.ico" SourceFile="favicon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
	<!-- The about link that appears in Add & Remove Programs. -->
    <Property Id="ARPURLINFOABOUT" Value="!(loc.AboutURL)" />
    <!-- The help link that appears in Add & Remove Programs. -->
    <Property Id="ARPHELPLINK" Value="!(loc.SupportURL)" />
    <!-- The update link that appears in Add & Remove Programs. -->
    <Property Id="ARPURLUPDATEINFO" Value="!(loc.UpdatesURL)" />

    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />

    <!-- if you delete the next line the installer will choose the drive with the most available free space as root drive -->
    <Property Id="ROOTDRIVE" Value="C:\"/>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='MyCompany_Folder' Name="!(loc.ManufacturerName)">
          <Directory Id='INSTALLDIR' Name="!(loc.ApplicationName)">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="!(loc.ApplicationName)"/>
      </Directory>
    </Directory>

    <CustomAction Id="LaunchBrowser" ExeCommand="explorer.exe &quot;http://localhost:[PORT]&quot;" Directory="INSTALLDIR" Return="asyncNoWait">
    </CustomAction>

    <InstallExecuteSequence>
      <Custom Action='RegisterService' Before='StartServices'>NOT Installed</Custom>
      <Custom Action='SetPort' After='RegisterService'>NOT Installed</Custom>
	  <Custom Action='SetServiceDisplayName' After='SetPort'>NOT Installed</Custom>
      <Custom Action='SetServiceDescription' After='SetServiceDisplayName'>NOT Installed</Custom>
      <Custom Action="LaunchBrowser" OnExit="success">NOT Installed</Custom>
    </InstallExecuteSequence>

    <Feature Id='Complete' Level='1'>
      <ComponentGroupRef Id='MainComponentGroup' />
      <ComponentRef Id="ApplicationShortcut" />
      <Component Id="node_component" Guid="{AAAAAAAA-C0C2-4D3F-BC22-EC7AE4963FFF}" Directory="INSTALLDIR">
        <File Id="node" KeyPath="yes" Source="C:\Program Files\nodejs\node.exe" />
      </Component>

      <Component Id="nssm_component" Guid="{AAAAAAAA-CBB2-4F3F-BC22-EC7AE4963FFF}" Directory="INSTALLDIR">
        <File Id="nssm" KeyPath="yes" Source=".\binaries\nssm.exe" />

        <ServiceControl Id="ControlMyProductService" Name="!(loc.ApplicationName) Service" Remove="uninstall" Start="install" Stop="both" />
      </Component>

    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="PORT" Value="4000" />

    <UIRef Id="WixUI" />

  </Product>
</Wix>