<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
  
    <CustomAction
      Id='RegisterService'
      Impersonate="no"
      Execute="deferred" 
      FileRef='nssm'
      ExeCommand='install !(loc.ServiceName) "[INSTALLDIR]node.exe" src/run.js'
      Return='asyncWait' />

    <CustomAction
      Id='SetServiceDisplayName'
      Impersonate="no"
      Execute="deferred" 
      FileRef='nssm'
      ExeCommand='set !(loc.ServiceName) DisplayName "!(loc.ApplicationName) Service"'
      Return='asyncWait' />

    <CustomAction
      Id='SetServiceDescription'
      Impersonate="no"
      Execute="deferred" 
      FileRef='nssm'
      ExeCommand='set !(loc.ServiceName) Description !(loc.Description)'
      Return='asyncWait' />

  </Fragment>
</Wix>